#Django~=5.0.6
Django
django-markdownit
mysqlclient
#python-dotenv~=1.0.1
python-dotenv
django-macros
#boto3~=1.34.122
boto3
werkzeug
#werkzeug~=3.0.3
django-ratelimit
redis
hiredis
django-redis
pillow
#botocore~=1.34.122
botocore
python-decouple